/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.left-panel { 
    width: 300px;
    margin: 10px;
}



.padded-content-item {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fbfbfb;
  }

  .main-content-container {
      margin: 10px;
  }

.content-container {
    margin: 10px;
}

  .icon-fixed {
      background: lightgreen;
      color: white;
      text-align: center;
      font-size: 40px;
  }

.header-row {
    text-align: center;
    font-size: 12pt;
    padding-bottom: 5px;
}