.content-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.content-table td, .content-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.heading-table td {
    border: 1px solid #ddd;
    padding: 5px;
}

.content-table tr:nth-child(even){background-color: #f2f2f2;}

.content-table tr:hover {background-color: #ddd;}

.content-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #aaa;
    color: white;
}