<div class="container-full-screen">
  <mat-toolbar>
    Windows Crash Dump Analyser and Registry
  </mat-toolbar>
  <div class=fill-height>
    <table class=fill-height>
      <tr>
        <td class="fill-height left-main">
          <div class="container-content" class="content-container" uploader="uploader">
            <div ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="well file-drop-zone">
             Drop dump files here
           </div>
          <app-upload-dump-process></app-upload-dump-process>
          
          </div>
        </td>
        <td class="fill-height right-main">
          <div class="main-content-container" *ngFor="let dumpType of searchResults">
            <mat-card class="padded-content-item">
                <mat-card-header>
                  <mat-icon mat-card-avatar class="icon-fixed">done</mat-icon>
                  <mat-card-title>
                    <h4>{{dumpType.failureBucketId}}</h4>
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{dumpType.resolved ? "Fixed" : "Unresolved"}} <a href="https://ingrjira.ingrnet.com/browse/IW-12345">IW-12345</a>
                  </mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                  <mat-card *ngFor="let dumpEntryGroup of dumpType.dumpEntryGroups">
                    <mat-card-header>
                    <mat-card-title>
                      <table class="heading-table">
                        <tr >
                            <td>Dump Module</td>
                            <td>{{dumpEntryGroup.dumpModule}}</td>
                        </tr>
                        <tr>
                          <td>Dump Version</td>
                          <td>{{dumpEntryGroup.dumpVersion}}</td>
                        </tr>
                        <tr >
                            <td>Dump Checksum</td>
                            <td>{{dumpEntryGroup.dumpChecksum}}</td>
                        </tr>
                        <tr >
                            <td>Dump Offset</td>
                            <td>{{dumpEntryGroup.dumpOffset}}</td>
                        </tr>
                      </table>
                    </mat-card-title>
                    </mat-card-header>
                      <mat-card-content>
                        <div>
                            <table class="content-table">
                              <tr>
                                <th>Dump Filename</th>
                                <th>Dump Date</th>
                                <th>Entered Date</th>
                                <th>Dump Actions</th>
                              </tr>
                              <tr *ngFor="let dumpFileEntry of dumpEntryGroup.dumpFileEntries">
                                  <td>{{dumpFileEntry.fileName}}</td>
                                  <td>{{dumpFileEntry.crashDateTime}}</td>
                                  <td>{{dumpFileEntry.enteredDateTime}}</td>
                                  <td>
                                      <button mat-mini-fab color="primary" matTooltip="Download source dmp file">
                                          <mat-icon aria-label="Download source dmp file">cloud_download</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="primary">
                                          <mat-icon aria-label="Download raw analysis">assignment</mat-icon>
                                      </button>
                                      <button mat-mini-fab color="primary">
                                          <mat-icon aria-label="View crash information">code</mat-icon>
                                      </button>
                                  </td>
                                </tr>
                            </table>
                      </div>
                      </mat-card-content>
                  </mat-card>
              
                </mat-card-content>
                <mat-card-actions>
                  <div class="content-container">
                    <button mat-mini-fab color="accent">
                        <mat-icon aria-label="Edit metadata">edit</mat-icon>
                    </button>
                  </div>
                </mat-card-actions>
              </mat-card>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
