<div class="container-full-screen">
  <mat-toolbar>
    Windows Crash Dump Analyser and Registry
  </mat-toolbar>
  <div class="wrapper">
    <div class="fill-height left-main">
      <mat-tab-group>
        <mat-tab label="Upload">
          <app-upload-dump-process></app-upload-dump-process>
        </mat-tab>
        <mat-tab label="List">
          <p>list</p>
        </mat-tab>
        <mat-tab label="Search">
            <p>search</p>
          </mat-tab>
      </mat-tab-group>
    </div>
    <div class="fill-height right-main">
      <app-dump-entry-search-results></app-dump-entry-search-results>
    </div>
  </div>
</div>
